<%- include('../header') %>

<p class="h5"> ID = <%= data.id %></p>
<form method="post" action="/db/edit">
    <div class="form-group">
        <input type='hidden' class="form-control" id="id" name="id" value="<%= data.id %>">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
    </div>
    <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" class="form-control" id="mail" name="mail" value="<%= data.mail %>">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
</form>
<%- include('../footer') %>